@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
.card {
  width: 20vmin;
  height: 25vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  position: absolute;
  border-width: 0.5rem;
  border-style: solid;
  border-color: white;
  outline-offset: -10px;
  -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.369);
          box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.369);
  background-color: white;
  font-family: 'Roboto Slab', serif;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 15%;
  position: absolute;
  margin: 3px 3px 3px 3px;
}

.card-banner h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  text-justify: center;
  font-size: 100%;
}

.card-banner .card-icon {
  background-color: white;
  border-radius: 100rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-help-icon {
  position: absolute;
  top: 1.2vh;
  right: 1.2vh;
  margin: 0;
  border-radius: 100rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 2vh;
  width: 2vh;
  background-color: rgba(118, 151, 205, 0.716);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.card-help-icon:last-child {
  visibility: hidden;
  background-color: rgba(127, 18, 8, 0.716);
}

.card-middle {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-middle .card-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-middle .card-effect-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0;
  position: absolute;
  color: red;
  top: 10rem;
}

.card-bottom {
  bottom: 0;
  left: -6px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.in-hand-card {
  position: relative;
  padding: 0px;
  border-radius: 1vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out, bottom 0.1s ease-out;
  transition: all 0.2s ease-out, bottom 0.1s ease-out;
  left: 0px;
  bottom: 0px;
  opacity: 1;
}

.in-hand-card:not(:first-child) {
  margin-left: -10vh;
}

.in-hand-card:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.in-hand-card:hover {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.in-hand-card:hover .card-help-icon {
  display: block;
  background-color: #468dff;
}

.in-hand-card:hover ~ .in-hand-card {
  left: 10vh;
  margin: -width;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.card-entering {
  -webkit-transition: all 0.2s ease-out, opacity 0.4s ease-in-out, bottom 0.4s ease-in-out;
  transition: all 0.2s ease-out, opacity 0.4s ease-in-out, bottom 0.4s ease-in-out;
}

.card-begin-enter {
  opacity: 0;
  bottom: 5rem;
}

.card-selected {
  bottom: 2rem;
}

.card-played {
  width: 28vmin;
  height: 35vmin;
  position: absolute;
}

.card-played .card {
  width: 28vmin;
  height: 35vmin;
  position: absolute;
}

.card-played h1 {
  font-size: 140%;
}

.my-card-container {
  width: 65vw;
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}
/*# sourceMappingURL=Card.css.map */