@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$card-height: 25vh;
$card-width: $card-height * 2/2.5;
$card-offset: 10vh;
$card-hover-height: 2vh;
$card-speed: 0.2s;


$scaling: 1.4;


ol {
    list-style-type:none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.card {
    width: $card-width;
    height: $card-height;

    display:flex;
    flex-direction: column;
    flex: 0 0 auto;

    position: relative;
    
    border-width: 8px;
    border-style: solid;
    border-color: white;

    outline-offset: -10px;
    
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.369);
    box-sizing: content-box;

    background-color: white;

    font-family: 'Roboto Slab', serif;
}


.card-banner {
    display: flex;
    align-items: center;
    flex-direction: row;
    
    width: 100%;
    height: 15%;
    
    position: absolute;
    margin: 3px 3px 3px 3px;
    
    h1 {
        margin: 0;
        padding: 0;
        
        text-align: center;
        text-justify: center;
        font-size: 100%;
    }
    .card-icon {
        background-color: white;
        border-radius: 100rem;
        flex: 0 0 auto;
        height: 100%;
        object-fit: cover;
    }
}
.card-help-icon {
    position: absolute;
    top: 1.2vh;
    right: 1.2vh;

    margin: 0;

    border-radius: 100rem;
    
    flex: 0 0 auto;
    object-fit: cover;
    height: 2vh;
    width:  2vh;
    background-color: rgba(118, 151, 205, 0.716);
}

.card-help-icon:last-child {
    visibility: hidden;
    background-color: rgba(127, 18, 8, 0.716);
}


.card-middle {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .card-image {
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .card-effect-text {
        flex: 0 0 auto;
        margin: 0;
        
        position: absolute;
        color: red;
        
        top: 10rem;
    }
}
.card-bottom {
    bottom: 0;
    left: -6px;
    transform: rotate(180deg);
}

.in-hand-card {
    display: flex;
    flex: 0 0 auto;
    overflow: hidden;
    
    border-radius: 1vh;
    position: relative;
    
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.305);

    left: 0;
    transition: left 0.3s ease-out;
}

// Cards that have been played on the fields
.card-played {
    width: $card-width * $scaling;
    height: $card-height * $scaling;

    position: absolute;
    
    .card {
        width: $card-width * $scaling;
        height: $card-height * $scaling;
        position: absolute;

    }
    h1 {
        font-size: 100% * $scaling;
    }
}



#my-card-container {
    width: 65vw;
    height: 100%;
    padding: 30px;
    margin: 0;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;

}

