.game-container {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-rows: 20vh 50vh 30vh;

    position: relative;
    align-items: center;

    background-color: rgb(28, 28, 28);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets/woodTexture.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


.game-field {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #d37035;
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




.lower-game-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    bottom: 0.5vh;

    .self-avatar {
        border-radius: 100rem;
        overflow: hidden;
        width: 25vh;
        height: 25vh;
        margin: auto 3rem;
        
        flex: 0 0 auto;

        position: relative;
        border: 0.5rem inset rgb(51, 255, 0);

        box-shadow: inset 0 0 2rem rgb(77, 255, 0);


        z-index: 1;
        
        background-color: #1e1a1a;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}



.slam {
    animation: slam 1s;
    animation-timing-function: ease-in;
    color: #C41818;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13em;
    font-weight: 900;
    position: relative;
    text-align: center;
    text-transform: uppercase;

}


@keyframes slam {
    0% {
        transform: scale(10, 10);
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes rattle {
    0% {
        margin-top: 0;
        margin-left: 0;
    }

    10% {
        margin-top: -20px;
        margin-left: 0;
    }

    20% {
        margin-top: 0;
        margin-left: -20px;
    }

    30% {
        margin-top: 20px;
        margin-left: 0;
    }

    40% {
        margin-top: 0;
        margin-left: 20px;
    }

    50% {
        margin-top: -40px;
        margin-left: 0;
    }

    60% {
        margin-top: 0;
        margin-left: -40px;
    }

    70% {
        margin-top: 40px;
        margin-left: 0;
    }

    80% {
        margin-top: 0;
        margin-left: 40px;
    }

    90% {
        margin-top: -20px;
        margin-left: 0;
    }

    100% {
        margin-top: 0;
        margin-left: 0;
    }
}